body {
    background-color: #5ca0d7;
}

#ice_content {
    max-width: 30%;
    margin: 0 auto;
}

#ice_title {
    text-align: center;
    font-size: 4em;
    color: white;
}
p {
    text-align: center;
    color: white;
}
ol {
    text-align: left;
    font-weight: bold 1000;
    font-size: 1.25em;
}
img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
#quote {
    text-align: center;
    color: white;
    font-size: 1.5em;
    max-width: 50%;
    margin: 0 auto;
}
.footer p{
    color: black;
    font-size: .5em;
}