.circle-img {
    width: 100%;
}
.img {
    border: 10px solid black;
    border-radius: 50%;
    width: 20%;
    text-align: center;
}
body {
    background-color: gray;
    max-width: 1600px;
    margin: 0 auto;
}
.images {
    display: flex;
    justify-content: center;
}
